{#loading webform--contact.html.twig#}

{#
/**
 * @file
 * Theme implementation for a 'webform' element.
 *
 * This is an copy of the webform.html.twig theme_wrapper which includes the
 * 'title_prefix' and 'title_suffix' variables needed for
 * contextual links to appear.
 *
 * Available variables
 * - attributes: A list of HTML attributes for the wrapper element.
 * - children: The child elements of the webform.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 *
 * @see template_preprocess_webform()
 * @see _webform_form_after_build()
 *
 * @ingroup themeable
 */
#}

{{ kint() }}

<form{{ attributes }}>
    {#{{ title_prefix }}
    {{ children }}
    {{ title_suffix }}#}

    <div class="col-lg-8 col-xl-8">
        <form class="contact-form">
            <p>Please fill in all the necessary information &amp; we will get back to you momentarily.</p>
            <div class="form-row contact-form">
                <div class="col"><input class="form-control" type="text" placeholder="First Name"></div>
                <div class="col"><input class="form-control" type="text" placeholder="Last Name"></div>
            </div>
            <div class="form-row">
                <div class="col"><input class="form-control" type="email" placeholder="Confirm Email"></div>
                <div class="col"><input class="form-control" type="email" placeholder="Email"></div>
            </div>
            <div class="form-row">
                <div class="col-lg-6 col-xl-6"><input class="form-control" type="tel" placeholder="Phone"></div>
            </div>
            <p class="interest-q">What are you most interested in?</p>
            <div class="form-row">
                <div class="col">
                    <div class="form-check"><input class="form-check-input" type="checkbox" id="formCheck-1"><label class="form-check-label" for="formCheck-1">Coaching</label></div>
                </div>
                <div class="col">
                    <div class="form-check"><input class="form-check-input" type="checkbox" id="formCheck-2"><label class="form-check-label" for="formCheck-2">Online Resources</label></div>
                </div>
            </div>
            <div class="form-row">
                <div class="col">
                    <div class="form-check"><input class="form-check-input" type="checkbox" id="formCheck-3"><label class="form-check-label" for="formCheck-3">Keynote Speaker</label></div>
                </div>
                <div class="col">
                    <div class="form-check"><input class="form-check-input" type="checkbox" id="formCheck-4"><label class="form-check-label" for="formCheck-4">Training</label></div>
                </div>
            </div>
            <div class="form-row">
                <div class="col">
                    <div class="form-check"><input class="form-check-input" type="checkbox" id="formCheck-5"><label class="form-check-label" for="formCheck-5">Workshops</label></div>
                </div>
                <div class="col">
                    <div class="form-check"><input class="form-check-input" type="checkbox" id="formCheck-6"><label class="form-check-label" for="formCheck-6">Personal Development Programmes</label></div>
                </div>
            </div>
            <div class="form-row">
                <div class="col">
                    <div class="form-check"><input class="form-check-input" type="checkbox" id="formCheck-7"><label class="form-check-label" for="formCheck-7">Consultancy</label></div>
                </div>
            </div>
            <div class="form-row">
                <div class="col"><textarea class="form-control" placeholder="Message / Comments"></textarea></div>
            </div>
        </form>
        <div class="form-check"><input class="form-check-input" type="checkbox" id="formCheck-8"><label class="form-check-label" for="formCheck-8"> add to mailing list for updates and free resources</label></div>
        <p class="contact-privacy-policy">By clicking submit you are consenting for all Personal Data collected by this questionnaire to be processed in accordance with our <a href="#">privacy policy</a>.</p><a href="tel:518-512-9261" class="btn btn-link contact-form-submit" role="button">Contact Glenisaah</a>
    </div>

</form>

