<article{{ attributes }}>
    <div{#{{ content_attributes }}#}>
        <div class="container prayer-section" id="section-4">
            <div class="row no-gutters d-xl-flex justify-content-xl-center align-items-xl-center section-4">
                <div class="col-12">
                    {{ title_prefix }}                    
                    <h2{{ title_attributes }}>
                        <strong>
                            {{ label }}
                        </strong>
                    </h2>
                    {{ title_suffix }}
                </div>
                {{ content.field_event_list_items|field_value }}
            </div>
        </div>
    </div>
</article>
