{#loding node--161.html.twig for membership page#}
{#
/**
 * @file
 * Default theme implementation to display a node.
 *
 * Available variables:
 * - node: The node entity with limited access to object properties and methods.
 *   Only method names starting with "get", "has", or "is" and a few common
 *   methods such as "id", "label", and "bundle" are available. For example:
 *   - node.getCreatedTime() will return the node creation timestamp.
 *   - node.hasField('field_example') returns TRUE if the node bundle includes
 *     field_example. (This does not indicate the presence of a value in this
 *     field.)
 *   - node.isPublished() will return whether the node is published or not.
 *   Calling other methods, such as node.delete(), will result in an exception.
 *   See \Drupal\node\Entity\Node for a full list of public properties and
 *   methods for the node object.
 * - label: (optional) The title of the node.
 * - content: All node items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - author_picture: The node author user entity, rendered using the "compact"
 *   view mode.
 * - metadata: Metadata for this node.
 * - date: (optional) Themed creation date field.
 * - author_name: (optional) Themed author name field.
 * - url: Direct URL of the current node.
 * - display_submitted: Whether submission information should be displayed.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - node: The current template type (also known as a "theming hook").
 *   - node--type-[type]: The current node type. For example, if the node is an
 *     "Article" it would result in "node--type-article". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - node--view-mode-[view_mode]: The View Mode of the node; for example, a
 *     teaser would result in: "node--view-mode-teaser", and
 *     full: "node--view-mode-full".
 *   The following are controlled through the node publishing options.
 *   - node--promoted: Appears on nodes promoted to the front page.
 *   - node--sticky: Appears on nodes ordered above other non-sticky nodes in
 *     teaser listings.
 *   - node--unpublished: Appears on unpublished nodes visible only to site
 *     admins.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - content_attributes: Same as attributes, except applied to the main
 *   content tag that appears in the template.
 * - author_attributes: Same as attributes, except applied to the author of
 *   the node tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 * - view_mode: View mode; for example, "teaser" or "full".
 * - teaser: Flag for the teaser state. Will be true if view_mode is 'teaser'.
 * - page: Flag for the full page state. Will be true if view_mode is 'full'.
 * - readmore: Flag for more state. Will be true if the teaser content of the
 *   node cannot hold the main body content.
 * - logged_in: Flag for authenticated user status. Will be true when the
 *   current user is a logged-in member.
 * - is_admin: Flag for admin user status. Will be true when the current user
 *   is an administrator.
 *
 * @see template_preprocess_node()
 *
 * @todo Remove the id attribute (or make it a class), because if that gets
 *   rendered twice on a page this is invalid CSS for example: two lists
 *   in different view modes.
 *
 * @ingroup themeable
 */
#}
{#node.html.twig#}
<article{{ attributes }}>

    {#  {{ title_prefix }}
      {% if label and not page %}
        <h2{{ title_attributes }}>
          <a href="{{ url }}" rel="bookmark">{{ label }}</a>
        </h2>
      {% endif %}
      {{ title_suffix }}
    
      {% if display_submitted %}
        <footer>
          {{ author_picture }}
          <div{{ author_attributes }}>
            {% trans %}Submitted by {{ author_name }} on {{ date }}{% endtrans %}
            {{ metadata }}
          </div>
        </footer>
      {% endif %}#}

    <div{{ content_attributes }}>
        {#    {{ content }}#}
        <div class="membership-prog">
            <div class="d-flex d-sm-flex d-md-flex d-lg-flex d-xl-flex align-items-center align-items-sm-center align-items-md-center align-items-lg-center align-items-xl-center membership-hero-bg">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 col-lg-6 col-xl-6">
                            <div class="membership-callout">
                                <h1>For Women In Business <br>Who Mean Business</h1>
                                <p>Welcome to Nubian Sistas, a global business networking club where we provide a forum for our members to build.</p><button class="btn btn-primary" type="button">Join Now</button></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container section-2">
                <div class="row">
                    <div class="col-lg-6 col-xl-6 d-flex d-lg-flex justify-content-center justify-content-lg-center justify-content-xl-start"><img class="portrait-1" src="/kembassy-d/themes/custom/kembassy/assets/img/laptop.svg"></div>
                    <div class="col-sm-auto col-md-auto col-lg-6 col-xl-6 title">
                        <h2>KingdomHeir Women</h2>
                        <p>Nubian Sistas is designed to support you with valuable advice, support and guidance for you and your business from your sistas across the globe.<br><br>Every month we will give one of the network members the opportunity to showcase their
                            business or we will have an inspirational speaker, with relevant business background, to provide great content and talk about relevant business matters for you and your business.<br><br>Nubian Sistas is designed to support you with
                            valuable advice, support and guidance for you and your business from your sistas across the globe.<br></p>
                    </div>
                </div>
            </div>
            <div class="container section-3">
                <div class="row">
                    <div class="col-lg-6 col-xl-6 section-3">
                        <h2>HE<span class="pink">i</span>R</h2>
                        <p>Nubian Sistas is designed to support you with valuable advice, support and guidance for you and your business from your sistas across the globe.<br><br>Every month we will give one of the network members the opportunity to showcase their
                            business or we will have an inspirational speaker, with relevant business background, to provide great content and talk about relevant business matters for you and your business.<br><br>Nubian Sistas is designed to support you with
                            valuable advice, support and guidance for you and your business from your sistas across the globe.<br></p>
                    </div>
                    <div class="col-lg-6 col-xl-6 d-sm-flex d-lg-flex justify-content-sm-center justify-content-lg-center justify-content-xl-end align-items-xl-center"><img class="d-sm-flex portrait-1" src="/kembassy-d/themes/custom/kembassy/assets/img/portrait.png"></div>
                </div>
            </div>
            <div class="container section-4">
                <div class="row">
                    <div class="col">
                        <h2 class="text-center"><span class="blue">Kingdom</span>&nbsp;Women Membership</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6 col-xl-6">
                        <div class="left-col">
                            <div class="d-xl-flex align-items-xl-center membership-level"><img class="stone-image" src="/kembassy-d/themes/custom/kembassy/assets/img/sapphire.svg">
                                <div class="cost">
                                    <p class="stone">Sapphire</p>
                                    <p class="price">$2,616 / Annually</p>
                                </div>
                            </div>
                            <div class="left-col-inner">
                                <h1>$225*/<span class="heading-span">Annually</span></h1>
                                <ul>
                                    <li>Connect with a community of likeminded businesswomen<br>and entrepreneurs</li>
                                    <li>2 online group membership sessions per month <br>(1 hour each)</li>
                                    <li>2 live summits per year with guest speakers</li>
                                    <li>Access to private, members only, Facebook group</li>
                                    <li>Access to resources</li>
                                    <li>Inspirational Speakers</li>
                                    <li>Learn 7 steps to Transform Your Mind and Acknowledge <br>Your Brilliance</li>
                                    <li>Listing in members global business directory</li>
                                    <li>Two interviews per year in group</li>
                                    <li>Listing in members global business directory</li>
                                    <li>30 min 1:1 call with Jacynth per month (value $447)</li>
                                    <li>15% Discount off tickets for training sessions and retreats</li>
                                </ul><button class="btn btn-primary blue-btn" type="button">Join Today</button></div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-xl-6">
                        <div class="right-col">
                            <div class="d-xl-flex align-items-xl-center membership-level sapphire"><img class="stone-image" src="/kembassy-d/themes/custom/kembassy/assets/img/emerald.svg">
                                <div class="cost">
                                    <p class="stone">Emerald</p>
                                    <p class="price">$2,616 / Monthly</p>
                                </div>
                            </div>
                            <div class="right-col-inner">
                                <h1>$225*/<span class="heading-span">Monthly</span></h1>
                                <ul>
                                    <li>Connect with a community of likeminded businesswomen<br>and entrepreneurs</li>
                                    <li>2 online group membership sessions per month <br>(1 hour each)</li>
                                    <li>2 live summits per year with guest speakers</li>
                                    <li>Access to private, members only, Facebook group</li>
                                    <li>Access to resources</li>
                                    <li>Inspirational Speakers</li>
                                    <li>Learn 7 steps to Transform Your Mind and Acknowledge <br>Your Brilliance</li>
                                    <li>Listing in members global business directory</li>
                                    <li>Two interviews per year in group</li>
                                    <li>Listing in members global business directory</li>
                                    <li>30 min 1:1 call with Jacynth per month (value $447)</li>
                                    <li>15% Discount off tickets for training sessions and retreats</li>
                                </ul><button class="btn btn-primary pink-btn" type="button">Join Today</button></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</article>
