{#loding node--159.html.twig for services page#}
{#
/**
 * @file
 * Default theme implementation to display a node.
 *
 * Available variables:
 * - node: The node entity with limited access to object properties and methods.
 *   Only method names starting with "get", "has", or "is" and a few common
 *   methods such as "id", "label", and "bundle" are available. For example:
 *   - node.getCreatedTime() will return the node creation timestamp.
 *   - node.hasField('field_example') returns TRUE if the node bundle includes
 *     field_example. (This does not indicate the presence of a value in this
 *     field.)
 *   - node.isPublished() will return whether the node is published or not.
 *   Calling other methods, such as node.delete(), will result in an exception.
 *   See \Drupal\node\Entity\Node for a full list of public properties and
 *   methods for the node object.
 * - label: (optional) The title of the node.
 * - content: All node items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - author_picture: The node author user entity, rendered using the "compact"
 *   view mode.
 * - metadata: Metadata for this node.
 * - date: (optional) Themed creation date field.
 * - author_name: (optional) Themed author name field.
 * - url: Direct URL of the current node.
 * - display_submitted: Whether submission information should be displayed.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - node: The current template type (also known as a "theming hook").
 *   - node--type-[type]: The current node type. For example, if the node is an
 *     "Article" it would result in "node--type-article". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - node--view-mode-[view_mode]: The View Mode of the node; for example, a
 *     teaser would result in: "node--view-mode-teaser", and
 *     full: "node--view-mode-full".
 *   The following are controlled through the node publishing options.
 *   - node--promoted: Appears on nodes promoted to the front page.
 *   - node--sticky: Appears on nodes ordered above other non-sticky nodes in
 *     teaser listings.
 *   - node--unpublished: Appears on unpublished nodes visible only to site
 *     admins.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - content_attributes: Same as attributes, except applied to the main
 *   content tag that appears in the template.
 * - author_attributes: Same as attributes, except applied to the author of
 *   the node tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 * - view_mode: View mode; for example, "teaser" or "full".
 * - teaser: Flag for the teaser state. Will be true if view_mode is 'teaser'.
 * - page: Flag for the full page state. Will be true if view_mode is 'full'.
 * - readmore: Flag for more state. Will be true if the teaser content of the
 *   node cannot hold the main body content.
 * - logged_in: Flag for authenticated user status. Will be true when the
 *   current user is a logged-in member.
 * - is_admin: Flag for admin user status. Will be true when the current user
 *   is an administrator.
 *
 * @see template_preprocess_node()
 *
 * @todo Remove the id attribute (or make it a class), because if that gets
 *   rendered twice on a page this is invalid CSS for example: two lists
 *   in different view modes.
 *
 * @ingroup themeable
 */
#}

<article{{ attributes }}>

    <div{{ content_attributes }}>

        {{ content }}

        <div class="services">

            <div class="container section-2" id="section-2">
                <div class="row">
                    <div class="col-lg-5 col-xl-5"><img class="services-img" src="/kembassy-d/themes/custom/kembassy/assets/img/services.svg">
                        <p>“Jacynth, thank you for investing your precious time on me, for the opportunity you gave me to sharpen my skills and your continuous support and your encouragement.&nbsp;You are a terrific role model.”<br></p>
                        <p class="name blue">Dr. Alaettin Carikci, Ph.D. in Sociology</p>
                    </div>
                    <div class="col-lg-7 col-xl-7">
                        <h1>Coaching</h1>
                        <p>Are you successful yet still feel something is missing but you don’t quite know what?<br>Have you achieved all that you wanted to achieve but something still holds you back?<br><br>Remember, life coaching is not just for those who want to work on an existing problem.&nbsp;Most successful entrepreneurs and company directors have said that coaching was paramount to their success.&nbsp;Someone who has had the experience and work ethic who can teach you how to live your best life and acknowledge your brilliance NOW.<br><br>Are you ready to be the best version of you?<br><br>There are lots of people who are still struggling with the answers to these questions and more</p>
                        <p class="interest-q">Jacynth specialises in working with</p>
                        <ul class="text-left">
                            <li>Successful business owners (managers, CEO’s, executives)</li>
                            <li>People who are successful and currently going through hardship &amp;struggles</li>
                            <li>Parents</li>
                            <li>People of Colour</li>
                            <li>Women</li>
                            <li>Aspects of Spiritual Life</li>
                        </ul>
                        <p class="interest-q">Are you ready to live your true authentic self &amp; acknowledge brilliance.</p><button class="btn btn-link contact-form-submit" type="button">View Coaching Packages</button>
                    </div>
                </div>
            </div>
            <div class="d-flex align-items-center divider-section">
                <div class="container d-xl-flex justify-content-xl-center"><button class="btn btn-primary" type="button">Free Assessment</button></div>
            </div>
            <div class="container section-3">
                <div class="row">
                    <div class="col-lg-6 col-xl-6 section-3">
                        <h2>Training / Seminars / Workshops</h2>
                        <p>&nbsp;Get the results that you want for your team and business.&nbsp;Jacynth’s reputation as a trainer and workshop facilitators has been built over 25 years.&nbsp;She specialises in designing, creating and delivering bespoke solutions to unique problems.<br><br>Jacynth uses the knowledge and experience that she has gained in the corporate environment and applies it on an individual level, where both leaders &amp; employees obtain the strategies, tools and knowledge needed to make a positive contribution in the workplace.<br><br>“I sincerely believe had I done this course a long time ago I would have had such great personal benefits, my career path would have been better considered. I was planning to retire at 55 no longer am I going to do so.&nbsp;I Will bring about change a bit at a time or accelerated. God has it mapped out!!! Thank you for putting together an ‘excellent’ programme. Your team did an exemplar job. Believe you me; I know what good looks <br>like. I have many courses to compare with. Bless you Jacynth, you’re such an <br>extraordinary and ‘INSPIRING ‘ woman in your own right !! “<br></p>
                        <p class="name blue">Tina Jegede, Senior Manager</p>
                    </div>
                    <div class="col-lg-6 col-xl-6 d-sm-flex d-lg-flex justify-content-sm-center justify-content-lg-center justify-content-xl-end align-items-xl-start"><img class="d-sm-flex portrait-1" src="/kembassy-d/themes/custom/kembassy/assets/img/trianing.svg"></div>
                </div>
            </div>
            <div class="d-flex align-items-center divider-section">
                <div class="container d-xl-flex justify-content-xl-center"><button class="btn btn-primary" type="button">Book a Call With Glenisaah Deborah</button></div>
            </div>
            <div class="container section-4">
                <div class="row">
                    <div class="col-lg-6 col-xl-6 d-sm-flex d-lg-flex justify-content-sm-center justify-content-lg-center justify-content-xl-start align-items-xl-start"><img class="d-sm-flex portrait-1" src="/kembassy-d/themes/custom/kembassy/assets/img/consulting.svg"></div>
                    <div class="col-lg-6 col-xl-6 section-3">
                        <h2>The Bench of Deborah Consunlting</h2>
                        <p>Jacynth is the Founder &amp; CEO of Jacynth Ivey Global and Inspiring Hope.&nbsp;Every business is unique and has different needs.&nbsp;Jacynth works with you&nbsp;to assess your current situation.&nbsp;Offering a bespoke consultancy service Jacynth works with her clients to design and deliver tailored solutions. Some leaders are born, some are developed and others need to be reminded of how brilliant they are.<br><br>Jacynth has a reputation for bringing about positive changes for individuals, entrepreneurs, businesses and organisations.<br><br></p>
                    </div>
                </div>
                <div class="row">
                    <div class="col section-5">
                        <p>“I have known Jacynth professionally for approximately four years as one of our programme preferred quality assured providers.&nbsp;Jacynth was commissioned by us to undertake a number of challenging and stretching pieces of work which ranged from design and delivery of masterclasses and longer term development programmes aimed at middle managers and senior emergent leaders.&nbsp;The challenge was to work with highly talented people from BME backgrounds who typically experienced overt difficulty in reaching the senior hierarchy of NHS organisations.&nbsp;Jacynth provide us with a professional, enthusiastic and passionate service.&nbsp;Her ability to work with people from all backgrounds and seniority was second to none as was her political astuteness and emotional intelligence.&nbsp;I would not hesitate to work with Jacynth again, she is a dream to do business with and her drive for results through the participants is breath taking.”</p>
                        <p class="name blue">Jason Nair, NHS Institute for Innovation and Improvement</p>
                    </div>
                </div>
            </div>
            <div class="d-flex align-items-center divider-section">
                <div class="container d-xl-flex justify-content-xl-center"><button class="btn btn-primary" type="button">Book a Call With Glenisaah Deborah</button></div>
            </div>
            <div class="container section-5">
                <div class="row">
                    <div class="col-lg-6 col-xl-6 section-3">
                        <h2>Speaker</h2>
                        <p>Jacynth draws on her years of experience and wisdom to deliver inspirational and engaging messages to those who listen to her.<br><br>She is an international speaker who can tailor her talk to your needs. Her engaging style adds value to your event and her memorable presence and expertise in aspects of lifestyle and personal development inspires individuals to step up and achieve their brilliance.<br></p>
                    </div>
                    <div class="col-lg-6 col-xl-6 d-sm-flex d-lg-flex justify-content-sm-center justify-content-lg-center justify-content-xl-end align-items-xl-start"><img class="d-sm-flex portrait-1" src="/kembassy-d/themes/custom/kembassy/assets/img/speaker.svg"></div>
                </div>
                <div class="row">
                    <div class="col">
                        <p>“Just wanted to say a huge thank you the event was extremely well evaluated and your session in particular was describe by many as ‘inspiring’,&nbsp;‘an amazing speaker’.”</p>
                        <p class="name blue">Programme Lead Talent and Inclusion, NHS Leadership Academy</p>
                        <h3>Find Out About Booking With Glenisaah for your next event</h3>
                    </div>
                </div>
            </div>

        </div>

    </div>

</article>
