{{ title_prefix }}
<article{{ attributes }}>
    {{ title_suffix }}
    <div{{ content_attributes }}>
        <div class="container prayer-section" id="section-4">
            <div class="row no-gutters d-xl-flex justify-content-xl-center align-items-xl-center section-4">
                <div class="col-12">
                    <h2><strong>{{ label }}</strong></h2>
                </div>
                {{ content.field_event_list_items|field_value }}
            </div>
        </div>
    </div>
</article>
